@{
    ViewBag.Title = "Home Page";
}

@model ASP.NET_MVC_Demo.Models.UserData

<h1 class="text-center">Search for a Github user</h1>
<div class="jumbotron">
    @using (Html.BeginForm("Show", "Home", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <div class="form-group">
            @Html.Label("txtName", "Username", new { @class = "col-lg-2 control-label"})
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Login, new {@class = "form-control", id="txtName", placeholder="Enter Github Username to Search Here"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </div>
    }
</div>
